<table class="table table-hover table-bordered table-striped">
  <thead class='table-dark'>
    <tr>
      <% unless defined?(shrink) %>
        <th><%= t('provider.id_label') %></th>
      <% end %>
      <th><%= t('provider.name_label') %></th>
      <th><%= t('provider.debt_in_uzs_label') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('provider.phone_label') %></th>
        <th><%= t('provider.comment_label') %></th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% providers.order(:name).each do |provider| %>
      <tr class="<%= active_tr(provider.active) %>">
        <% unless defined?(shrink) %>
          <td><%= provider.id %></td>
        <% end %>
        <td><%= provider.name %></td>
        <td><%= link_to num_to_usd(provider.calculate_debt_in_uzs), delivery_from_counterparties_path(q_other: { total_paid_less_than_price: "1" }, q: {provider_id_eq: provider.id, price_in_usd_true: false}), style: "color: #{ (provider.calculate_debt_in_uzs < 0) ? 'red' : 'blue' };  font-size: large" %></td>
        <% unless defined?(shrink) %>
          <td><%= provider.phone_number %></td>
          <td><%= provider.comment %></td>
          <td>
            <%= clink_to t('provider.edit_label'), edit_provider_path(provider), 'fa-edit' %>
            <%= clink_to t('provider.history_label'), delivery_from_counterparties_path(q: {provider_id_eq: provider.id}), 'fa-history' %>
            <% if provider.active %>
              <%= clink_to t('provider.deactivate_label'), toggle_active_provider_path(provider), 'fa-ban', :post %>
            <% else %>
              <%= clink_to t('provider.activate_label'), toggle_active_provider_path(provider), 'fa-chart-line', :post %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
