<br>
<div class='card' id='filter-toggle'>
  <%= search_form_for q, url: url, html: { class: 'form form-horizontal filter-form' } do |f| %>
    <h5><%= t('filters.title') %></h5>
    <div class="card shadow-lg">
      <div class='row card-body'>
        <div class="form-group col-xs-12 col-sm-2">
          <%= f.label :buyer_id_eq, t('filters.customer'), class: 'control-label' %>
          <%= f.select :buyer_id_eq, Buyer.pluck(:name, :id), {include_blank: true}, class: 'form-control' %>
        </div>
        <div class="form-group col-xs-12 col-sm-2">
          <%= f.label :user_id_eq, t('filters.user'), class: 'control-label' %>
          <%= f.select :user_id_eq, User.pluck(:name, :id), {include_blank: true}, class: 'form-control' %>
        </div>
      </div>
      <div class="row card-body">
        <div class="form-group col-xs-12 col-sm-6">
          <%= f.submit t('filters.search'), class: 'btn btn-primary' %>
          <%= link_to t('filters.reset'), request.path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
