
<%= simple_form_for(treatment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :buyer, as: :hidden %>
    <%= f.input :comment, label: 'Комментарие' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Создать' %>
  </div>
  <br/>
<% end %>
