<div class="card-body">
  <table class="table table-hover table-bordered table-striped">
    <thead class='table-dark'>
      <tr>
        <th>ID</th>
        <th><%= t('treatments.buyer_name') %></th>
        <th><%= t('treatments.user_name') %></th>
        <th><%= t('treatments.comment') %></th>
        <th><%= t('expenditures.date') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% treatments.each do |treatment| %>
        <tr>
          <td><%= treatment.id %></td>
          <td><%= treatment.buyer.name %></td>
          <td><%= treatment.user.name %></td>
          <td><%= treatment.comment %></td>
          <td><%= strf_datetime(treatment.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
