<table class="table table-hover table-bordered table-striped">
  <thead class='table-dark'>
    <tr>
      <th><%= t('delivery_from_counterparties.id') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('delivery_from_counterparties.closed') %></th>
      <% end %>
      <th><%= t('delivery_from_counterparties.provider') %></th>
      <th><%= t('delivery_from_counterparties.total_price') %></th>
      <th><%= t('delivery_from_counterparties.total_paid') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('delivery_from_counterparties.comment') %></th>
      <% end %>
      <th><%= t('delivery_from_counterparties.created_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% delivery_from_counterparties.each do |delivery_from_counterparty| %>
      <tr id="delivery_from_counterparty_<%= delivery_from_counterparty.id %>">
        <td class="<%= detect_danger_row(delivery_from_counterparty.total_price, delivery_from_counterparty.total_paid) %>"><%= delivery_from_counterparty.id %></td>
        <% unless defined?(shrink) %>
          <td>
            <% if delivery_from_counterparty.closed? %>
              <%= clink_to t('delivery_from_counterparties.open'), toggle_status_delivery_from_counterparty_path(delivery_from_counterparty),'bi-lock-fill', :post %>
            <% else %>
              <%= clink_to t('delivery_from_counterparties.close'), toggle_status_delivery_from_counterparty_path(delivery_from_counterparty),'bi-unlock-fill', :post %>
            <% end %>
          </td>
        <% end %>
        <td><%= delivery_from_counterparty.provider.name %></td>
        <td title="<%= delivery_from_counterparty.payment_type %>"><%= currency_convert(delivery_from_counterparty.price_in_usd, delivery_from_counterparty.total_price) %></td>
        <td><%= currency_convert(delivery_from_counterparty.price_in_usd, delivery_from_counterparty.total_paid) %></td>
        <% unless defined?(shrink) %>
          <td><%= delivery_from_counterparty.comment %></td>
        <% end %>
        <td><%= strf_datetime(delivery_from_counterparty.created_at) %></td>
        <td>
          <%= clink_to t('delivery_from_counterparties.view'), delivery_from_counterparty_path(delivery_from_counterparty), 'bi-search' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
