<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(delivery_from_counterparty) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :status, as: :hidden, input_html: { value: 1 } %>
    <div class='form-inputs'>
      <%= f.label :price_in_usd, t('delivery_form.price_in_usd') %>
      <%= f.input :price_in_usd, label: false %>
      <% not_disabled = delivery_from_counterparty.persisted? && delivery_from_counterparty.product_entries.empty? %>
      <%= f.input :total_price, label: t('delivery_form.total_price_required'), input_html: { disabled: !not_disabled } %>
      <%= f.input :total_paid, label: t('delivery_form.total_paid') %>
      <%= f.association :provider, label: t('delivery_form.select_provider'), collection: Provider.active.order(weight: :desc).order(name: :asc), include_blank: false %>
      <%= f.input :payment_type, label: t('delivery_form.select_payment_type'), collection: DeliveryFromCounterparty.payment_types, include_blank: false %>
      <%= f.input :comment, label: t('delivery_form.comment') %>
      <%= f.button :submit, t('delivery_form.finish_purchase') %>
    </div>
  <% end %>
</div>

<script>
  document.querySelector('#delivery_from_counterparty_total_paid').addEventListener('focus', function(e) {
    if(document.querySelector('#delivery_from_counterparty_total_paid').value == null || document.querySelector('#delivery_from_counterparty_total_paid').value == 0){
      document.querySelector('#delivery_from_counterparty_total_paid').value = document.querySelector('#delivery_from_counterparty_total_price').value
    }
  })
</script>
