<div>
  <h3 class='text-center'>Umumiy malumot</h3>
  <table class='table shadow card-header table-striped table-hover'>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sotishdan tushgan pullar</td>
        <td><%= num_to_usd @sales_in_uzs %></td>
      </tr>
      <%# <tr>
        <td>Прибыль от продаж</td>
        <td><%= num_to_usd @profit_from_sale_in_uzs</td>
        <%# <td><%= number_to_currency @profit_from_sale_in_usd</td>  %>
      <%# </tr> %>
      <tr>
        <td>Yuk beruvchilarga berilgan pullar</td>
        <td><%= num_to_usd @delivery_from_counterparties_in_uzs %></td>
      </tr>
      <tr>
        <td>Ishchilarga oylik</td>
        <td><%= num_to_usd @salaries %></td>
        <td></td>
      </tr>
      <tr>
        <td>Ishchilarga avans</td>
        <td><%= num_to_usd @prepayment %></td>
        <td></td>
      </tr>
      <tr>
        <td>Boshqa xarajatlar</td>
        <td><%= num_to_usd @expenditures_in_uzs %></td>
      </tr>
      <tr>
        <td style='color: green; font-weight: bold'>Shundan qolgan foyda:</td>
        <td><%= num_to_usd @overall_income_in_uzs %></td>
      </tr>
    </tbody>
  </table>
</div>
