<script>
  $(document).on('turbo:load',function() {
    $('.category-row').click(function() {
      $('.category-row').removeClass('active-category');
      $(this).addClass('active-category');

      var categoryId = $(this).data('category-id');

      $('#product-table tbody tr').each(function() {
        var productCategoryId = $(this).data('category-id');
        if (categoryId == productCategoryId || categoryId == "all") {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });

    $('#add_manually').click(function(){
      console.log('clicked');
      $('#pack_name').toggle();
      $('.pack-select').toggle();
    });
    const productSearchInput = document.getElementById('product_search_input');
    const products = document.querySelectorAll('.product_list');

    productSearchInput.addEventListener('input', function() {
      const searchTerm = productSearchInput.value.trim().toLowerCase();

      products.forEach(function(product) {
        const productName = product.dataset.productName.toLowerCase();

        if (productName.includes(searchTerm)) {
          product.style.display = 'block'; // Show the product
        } else {
          product.style.display = 'none'; // Hide the product
        }
      });
    });

    $("#product_search_input").focus();
    $('.products tr').click(function() {
      $('.products tr').removeClass('active');
      $(this).addClass('active');
      var h1Element = document.querySelector('#pack-name');
      var selectedProductText = $(this).data('product-name');
      h1Element.textContent = selectedProductText;
      document.querySelector('#pack-select').value = $(this).data('product-id');
      document.querySelector('#product_sell_sell_price').value = $(this).data('product-sell-price')
		});
    $('.product-select-tag').hide();
    $("input").focus(function() {
      $(this).select();
    });
  })
</script>

<% rate = CurrencyRate.last.rate %>

<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(product_sell) do |f| %>
    <div class='form-inputs'>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.association :sale, as: :hidden %>
      <%= f.input :sell_by_piece, label: false, as: :hidden %>
      <div class='row'>
        <div class='col-sm-8'>
          <div class='pack-select'>
            <%= f.association :pack, label: false, collection: Pack.where(active: true).order(:name), include_blank: true, input_html: { hidden: true, id: 'pack-select' } %>
          </div>
          <div id='pack_name' style='display: none'>
            <%= f.input :pack_name, label: 'Xizmat nomini kiriting' %>
          </div>
        </div>
      </div>
      <div class='product-select-tag'>
        <%= f.association :product, label: 'выберите размера', as: :hidden, collection: Product.all.order('LOWER(name) ASC'), include_blank: false, input_html: { id: 'product-select', placeholder: 'выберите размер' } %>
      </div>
      <div class='row'>
        <div class='col-sm-4'><%= f.input :amount, label: 'Soni', input_html: {value: 1} %></div>
        <div class='col-sm-4'><%= f.input :sell_price, label: 'dona narxi' %></div>
        <div class='col-sm-4 align-self-center'>
          <%= f.submit "Sotish", class: 'btn btn-primary'%><br/>
          <a id='add_manually' style='color: blue; cursor: pointer'>Qo'lda kiritish</a>
        </div>
      </div>
      <%= f.input :min_price_in_usd, label: false, as: :hidden, input_html: { disabled: true } %>
      <%= f.input :initial_remaining, label: false, input_html: { disabled: true, hidden: true } %>
      <div class='product-select-tag'>
        <%= f.input :remaining_outside_pack, label: false, as: :hidden, input_html: { disabled: true } %>
      </div>
      <%= f.input :rate, as: :hidden, input_html: { value: rate } %>
    </div>
  <% end %>

  <%= render 'product_sells/product_categories_select' %>
  <hr>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="form-group decimal required product_sell_amount">
        <input class="form-control text required"  type="text" id="product_search_input" placeholder='Qidirish' autocomplete="off" style='box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;'/>
      </div>
    </div>
  </div>
  <div style='max-height: 650px; overflow: auto' class='row'>
    <div id='products-list' class='col-sm-12 products'>
      <%= render 'product_sells/products_list_select' %>
    </div>
  </div>
</div>
