<script>
  $(document).ready(function() {
    function triggerCategoryRowClick(categoryId) {
      $('.category-row[data-category-id="' + categoryId + '"]').addClass('active-category');
      $('#product-table tbody tr').each(function() {
        var productCategoryId = $(this).data('category-id');
        if (categoryId == productCategoryId) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
      $('#product_search_input').focus()
    }

    $('.category-row').click(function() {
      $('.category-row').removeClass('active-category');
      $('#product_search_input').focus();
      $(this).addClass('active-category');
      var categoryId = $(this).data('category-id');
      $('#product-table tbody tr').each(function() {
        var productCategoryId = $(this).data('category-id');
        if (categoryId == productCategoryId) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });

    $('#show-all-products').click(function(){
      $('.category-row').removeClass('active-category');
      $(this).addClass('active-category');
      $('#product-table tbody tr').each(function() {
        $(this).show();
      });
    })

    var value = $('#last-category').val()
    if (value) {
      triggerCategoryRowClick(value);
    }
  });
</script>

<div class='categories' id='product-categories'>
  <span id="show-all-products" class='category-row'><%= t('all') %></span>
  <% ProductCategory.all.order(weight: :desc).each do |category| %>
    <div data-category-id="<%= category.id %>" data-category-name="<%= category.name %>" class='category-row flex-column category-names'>
      <% cache category do %>
        <% if category.image.persisted? %>
          <div class='category-image'>
            <%= image_tag category.image %>
          </div>
        <% end %>
        <span><%= category.name %></span>
      <% end %>
    </div>
  <% end %>
</div><br/>
