<script>
  $(document).on('turbo:load', function() {
    var productSearchInput = document.getElementById('product_search_input');
    var products = document.querySelectorAll('.product_list');
    let activeIndex = -1;

    function setActive(index) {
      products.forEach((product, i) => {
        if (i === index) {
          product.classList.add('active');
          product.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
        } else {
          product.classList.remove('active');
        }
      });
    }

    function handleClick(index) {
      if (index >= 0 && index < products.length) {
        products[index].dispatchEvent(new Event('click'));
      }
    }

    document.getElementById('product_search_input').addEventListener('input', function() {
      const searchTerm = productSearchInput.value.toLowerCase();
      const selectedCategoryId = $('.category-row.active-category').data('category-id');

      products.forEach(function(product) {
        if (window.getComputedStyle(product).display !== 'none') {
          const productName = product.dataset.productName.toLowerCase();
          let displayStyle = 'none'; // Default: hide the product

          if (productName.includes(searchTerm)) {
            displayStyle = 'revert'; // Show the product if it starts with the search term
          }
          product.style.display = displayStyle;
        }
      });

      setActive(-1);
      activeIndex = -1;
    });

    document.addEventListener('keydown', function(event) {
      if (document.activeElement.id === 'product_sell_amount') {
        return;
      }

      if (event.key === 'ArrowUp' || event.key === 'ArrowDown') {
        event.preventDefault();

        let newIndex;
        if (event.key === 'ArrowUp') {
          newIndex = activeIndex <= 0 ? products.length - 1 : activeIndex - 1;
        } else {
          newIndex = activeIndex >= products.length - 1 ? 0 : activeIndex + 1;
        }

        while (products[newIndex].style.display === 'none') {
          if (event.key === 'ArrowUp') {
            newIndex = newIndex <= 0 ? products.length - 1 : newIndex - 1;
          } else {
            newIndex = newIndex >= products.length - 1 ? 0 : newIndex + 1;
          }
        }
        setActive(newIndex);
        activeIndex = newIndex;
        handleClick(newIndex);
      }
    });

    $(document).on('keypress', function(event) {
      if ($('.product_list.active').length && event.key === 'Enter') {
        $('#product_sell_amount').focus();
      }
    });

    // Function to handle product filtering based on category and input value
    function filterProducts() {
      const searchTerm = productSearchInput.value.toLowerCase();
      const selectedCategoryId = $('.category-row.active-category').data('category-id');

      products.forEach(function(product) {
        const productName = product.dataset.productName.toLowerCase();
        const productCategoryId = product.dataset.categoryId;

        // Check if the product name includes the search term and if it belongs to the selected category
        if ((productName.includes(searchTerm) || searchTerm === '') &&
            (selectedCategoryId === undefined || productCategoryId == selectedCategoryId)) {
          product.style.display = 'revert'; // Show the product
        } else {
          product.style.display = 'none'; // Hide the product
        }
      });
    }

    // Event listener for input event (typing and backspace)
    productSearchInput.addEventListener('input', filterProducts);

    // Event listener for backspace key press
    productSearchInput.addEventListener('keydown', function(event) {
      if (event.key === 'Backspace') {
        // Call the filterProducts function when the backspace key is pressed
        filterProducts();
      }
    });

    // Function to handle click on product icon
    function handleProductIconClick(product) {
      const productId = product.dataset.productId;
      // Send JSON request to fetch data
      $.getJSON(`/packs/${productId}/product_entries.json`, function(data) {
        // Display data in alert
        alert(JSON.stringify(data));
      });
    }

    // Remove any existing click handlers to avoid multiple bindings
    $('.product_icon').off('click');

    // Event listener for product icon click
    $('.product_icon').on('click', function() {
      const product = $(this).closest('.product_list')[0];
      handleProductIconClick(product);
    });
  });
</script>

<% rate = CurrencyRate.last.rate %>
<div class='row'>
  <div class='col-sm-12'>
    <div class="form-group decimal required product_sell_amount">
      <input class="form-control text required"  type="text" id="product_search_input" placeholder='Qidirish' autocomplete="off" style='box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;'/>
    </div>
  </div>
</div>
<div style='max-height: 650px; overflow: auto' class='row'>
  <div id='products-list' class='col-sm-12 products'>
    <table class='table table-sm' id="product-table">
      <thead class='table-dark'>
        <tr>
          <th>Товар</th>
          <th>Цена</th>
          <th>Остатка</th>
        </tr>
      </thead>
      <tbody>
        <% @packs.each do |product| %>
          <tr data-category-id="<%= product.product_category.id %>" data-product-sell-price="<%= product.sell_price_based_on_sale_currency(sale_in_usd, rate, @sale.buyer.is_worker) %>" data-product-name="<%= product.name %>" data-product-id="<%= product.id %>" class='product_list'>
            <td class='d-flex align-items-center'>
              <% if product.image.persisted? %>
                <div class='pack-image'>
                  <%= image_tag product.image %>
                </div>
              <% end %>
              <%= product.name %>
              <i class="fas fa-info-circle product_icon" style="cursor: pointer;"></i>
            </td>
            <td><%= currency_convert sale_in_usd, product.sell_price_based_on_sale_currency(sale_in_usd, rate, @sale.buyer.is_worker) %></td>
            <td><%= product.initial_remaining %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
