<tr>
  <% unless shrink %>
    <td><%= product_sell.id %></td>
    <td><%= product_sell.buyer.name %></td>
  <% end %>
  <td>
    <% if product_sell.product.nil? %>
      <%= product_sell.pack.name %>
    <% else %>
      <%= product_sell.product.name %>
    <% end %>
  </td>
  <td><%= product_sell.amount.to_f %> <%= product_sell.pack.unit %></td>
  <td title="<%= product_sell.buy_price %>" ><%= currency_convert(product_sell.price_in_usd, product_sell.sell_price) %></td>
  <td><%= currency_convert(product_sell.price_in_usd, (product_sell.sell_price * product_sell.amount.to_f)) %></td>
  <% unless shrink && policy(Sale.last).profit? %>
    <th><%= product_sell.total_profit %></th>
  <% end %>
  <% unless shrink %>
    <td><%= strf_datetime(product_sell.created_at) %></td>
  <% end %>
  <% if show_delete_button %>
    <td><%= cdlink_to 'Удалить', product_sell %></td>
  <% end %>
</tr>
