<div class="container">
  <h1>Создание работника</h1>

  <%= form_with(model: @user, url: auto_user_creation_users_path) do |form| %>
    <div class="form-group">
      <%= form.label :password, 'Yangi parol kiriting' %>
      <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, 'Parolni takrorlang' %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :name, 'Ishchining ismi' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :allowed_to_use, 'Shu programmadan foydalansinmi?' %>
      <%= form.check_box :allowed_to_use, {} %>
    </div>

    <div class="form-group">
      <%= form.label :role, 'Roli' %>
      <%= form.select :role, User.roles.keys, {}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.submit 'Saqlash', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= link_to 'Orqaga', users_path, class: "btn btn-secondary" %>
</div>
