<%= simple_form_for(@room_member) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :buyer,
            collection: Buyer.where(is_room_member: false).map { |b| [b.name_with_phone, b.id] },
            label: 'Mijoz',
            include_blank: false %>
    <%= f.association :room, label: 'Xona' %>
    <%= f.input :comment, label: 'Kommentariya' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Saqlash' %>
  </div>
<% end %>
