<div class="card-body shadow">
  <table class="table table-hover table-bordered table-striped">
    <thead class='table-dark'>
      <tr>
        <th>Mijoz</th>
        <th>Hozirda palatada</th>
        <th>Palata</th>
        <th>Kommentariya</th>
        <th>Kelgan sana</th>
        <th>Ketgan sana</th>
        <th>Jami savdo summasi</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% room_members.each do |room_member| %>
        <tr>
          <td>
            <%= render 'buyers/buyer_info', buyer: room_member.buyer %>
            </td>
          <td><%= active_check room_member.active_member %></td>
          <td><%= room_member.room.name %></td>
          <td><%= room_member.comment %></td>
          <td><%= strf_datetime room_member.created_at %></td>
          <td><%= strf_datetime room_member.end_time %></td>
          <td>
            <%= link_to num_to_usd(room_member.calculate_total_sale_price),
              sales_path(
                q: {
                  created_at_gteq: room_member.created_at,
                  created_at_lteq: room_member.end_time,
                  buyer_id_eq: room_member.buyer.id
                }
              )
            %>
          </td>
          <td><%= render 'room_members/exit', room_member: room_member %></td>
          <td><%= clink_to t('buyers.index.edit'), edit_room_member_path(room_member), 'bi-pencil' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
