<div id="<%= dom_id room_member %>">
  <p>
    <strong>Active member:</strong>
    <%= room_member.active_member %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= room_member.comment %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= room_member.buyer_id %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= room_member.end_time %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= room_member.room_id %>
  </p>

</div>
