<div class='m-2'>
  <%= simple_form_for(pack, html: { multipart: true }) do |f| %>
    <div class='row'>
      <div style='box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;' class='form-inputs col-sm-12 col-md-10 m-2'>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :name, label: 'Tovar nomi', input_html: {autofocus: 'true'} %>
        <%= f.input :code, label: 'Kodi', input_html: {value: @random_code} %>
        <%= f.input :delivery_id, input_html: {value: params[:delivery_id] }, as: :hidden  %>
        <%= f.input :initial_remaining, label: 'Ostatkasi', input_html: { value: defined?(@initial_remaining) ? @initial_remaining : 0 }%>
        <%= f.input :sell_price, label: 'Sotish narxi (1 dona)' %>
        <%= f.input :buy_price, label: 'Sotib olgan narximiz (1 dona)' %>
        <%= f.submit 'Saqlash', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get all color input elements
    var colorInputs = document.querySelectorAll('.color-input');

    // Event listener for the change event on the first color input
    colorInputs[0].addEventListener('change', function() {
      // Get the value of the first color input
      var firstColorValue = this.value;

      // Set the same value for all other color inputs
      colorInputs.forEach(function(input) {
        input.value = firstColorValue;
      });
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('form').on('keypress', e => {
        if (e.keyCode == 13) {
            return false;
        }
    });
  })
</script>
