<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Sklad</h3>
      <%= link_to 'Yangi tovar qoshish', new_pack_path, class: "btn btn-success min-width-btn" %>
    </div>

    <div class="card-body">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>Nomi</th>
            <th>Kodi</th>
            <th>Ostatkasi</th>
            <th>Narxi</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @packs.each do |pack| %>
            <tr>
              <td><%= pack.name %></td>
              <td><%= pack.code %></td>
              <td><%= pack.calculate_product_remaining %></td>
              <td><%= currency_convert(pack.price_in_usd, pack.sell_price) %></td>
              <td><%= clink_to 'O\'zgartirish', edit_pack_path(pack), 'fa-edit' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @packs %>
    </div>
  </div>
</div>
