<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold"><%= t('sklad.title') %></h3>
      <%= link_to t('sklad.new_pack'), new_pack_path, class: "btn btn-success min-width-btn" %>
    </div>
    <%= render 'filter_form', url: request.path %>
    <div class="card-body">
      <table class="table table-hover table-bordered table-striped">
        <thead class='table-dark'>
          <tr>
            <th><%= t('sklad.name') %></th>
            <th><%= t('sklad.remaining') %></th>
            <th><%= t('sklad.sell_price') %></th>
            <th><%= t('sklad.buy_price') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @packs.each do |pack| %>
            <tr class="<%= active_tr(pack.active) %>">
              <td><%= pack.name %></td>
              <td><%= pack.analize_remaining %></td>
              <td><%= currency_convert(pack.price_in_usd, pack.sell_price) %></td>
              <td><%= find_by_price(pack) %></td>
              <td>
                <%= clink_to t('sklad.view'), pack_path(pack), 'fa-search' %>
                <%= clink_to t('sklad.edit'), edit_pack_path(pack), 'fa-edit' %>
                <% if pack.active %>
                  <%= clink_to t('sklad.deactivate'), toggle_active_pack_path(pack), 'fa-ban', :post %>
                <% else %>
                  <%= clink_to t('sklad.activate'), toggle_active_pack_path(pack), 'fa-chart-line', :post %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @packs %>
    </div>
    <table class="mt-4">
      <tr>
        <th><%= t('sklad.total_items') %></th>
        <th><%= t('sklad.total_amount_uzs') %></th>
        <th><%= t('sklad.total_amount_usd') %></th>
      </tr>
      <tr>
        <td><%= @all_packs.sum(:initial_remaining) %></td>
        <td><%= num_to_usd @all_packs.price_in_uzs.sum('initial_remaining * sell_price') %></td>
        <td><%= number_to_currency @all_packs.price_in_usd.sum('initial_remaining * sell_price') %></td>
      </tr>
    </table>
  </div>
</div>
