<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Xonalar</h3>
      <%= link_to 'Yangi xona qo\'shish', new_room_path, class: "btn btn-success min-width-btn" %>
      <%= link_to 'Tarixni ko\'rish', room_members_path, class: "btn btn-secondary min-width-btn" %>
    </div>

    <div class="card-body">
      <table class="table table-hover table-bordered table-striped">
        <thead class='table-dark'>
          <tr>
            <th><%= sort_link @q, :name, 'Nomi/Raqami' %></th>
            <th><%= sort_link @q, :capacity, "Sig'imi" %></th>
            <th><%= sort_link @q, :active_members, "Bemorlar soni" %></th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td><%= room.name %></td>
              <td><%= room.capacity %></td>
              <td><%= link_to count_active_members(room), room_path(room) %></td>
              <td>
                <%= clink_to 'Редактировать', edit_room_path(room), 'fa-edit' %>
                <%= clink_to 'Yangi bemor qo\'shish', new_room_member_path(room_id: room.id), 'fa-plus' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @rooms %>
    </div>
  </div>
</div>
