<table class='table'>
  <thead>
    <tr>
      <th><%= t('product_entries.id') %></th>
      <th><%= t('product_entries.buy_price') %></th>
      <th><%= t('product_entries.sell_price') %></th>
      <th>
        <%= t('product_entries.service_price') %>
        <i title='<%= t('product_entries.sell_price_description') %>' class="fa-solid fa-circle-info"></i>
      </th>
      <th><%= t('product_entries.product') %></th>
      <th><%= t('product_entries.amount') %></th>
      <th><%= t('product_entries.amount_sold') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= product_entry.id %></td>
      <td><%= product_entry.buy_price %></td>
      <td><%= product_entry.sell_price %></td>
      <td><%= product_entry.service_price %></td>
      <td><%= product_entry.product.name %></td>
      <td><%= product_entry.amount %></td>
      <td><%= product_entry.amount_sold %></td>
    </tr>
  </tbody>
</table>
