<table class="table shadow table-hover table-bordered table-striped" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
  <thead class='table-dark'>
    <tr>
      <% unless defined?(shrink) %>
        <th><%= sort_link q, :id, t('product_entries.id') %></th>
        <th><%= t('product_entries.provider') %></th>
      <% end %>
      <th><%= sort_link q, :buy_price, t('product_entries.buy_price') %></th>
      <th><%= sort_link q, :sell_price, t('product_entries.sell_price') %></th>
      <th><%= sort_link q, :amount, t('product_entries.amount') %></th>
      <th><%= t('product_entries.product') %></th>
      <% unless defined?(shrink) %>
        <th><%= sort_link q, :amount_sold, t('product_entries.amount_sold') %></th>
        <th><%= sort_link q, :created_at, t('product_entries.created_at') %></th>
      <% end %>
      <% if ENV.fetch('HAS_LOCAL_ENTRY') %>
        <th><%= t('product_entries.worker') %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% product_entries.each do |product_entry| %>
      <tr>
        <% unless defined?(shrink) %>
          <td class="<%= active_tr(product_entry.amount > product_entry.amount_sold) %>"><%= product_entry.id %></td>
          <td><%= product_entry&.provider&.name %></td>
        <% end %>
        <td>
          <%= currency_convert(product_entry.paid_in_usd, product_entry.buy_price) %> |
          <%= currency_convert(product_entry.paid_in_usd, product_entry.amount * product_entry.buy_price) %>
        </td>
        <td>
          <%= currency_convert(product_entry.paid_in_usd, product_entry.sell_price) %> |
          <%= currency_convert(product_entry.paid_in_usd, product_entry.amount * product_entry.sell_price) %>
        </td>
        <td><%= product_entry.amount %></td>
        <td><%= product_entry.pack.name %></td>
        <% unless defined?(shrink) %>
          <td><%= product_entry.amount_sold %></td>
          <td><%= strf_datetime(product_entry.created_at) %></td>
        <% end %>
        <% if ENV.fetch('HAS_LOCAL_ENTRY') %>
          <td><%= product_entry&.user&.name %></td>
        <% end %>
        <td>
          <% unless defined?(shrink) %>
            <%= cdlink_to t('product_entries.edit_sell_price'), edit_product_entry_path(product_entry), 'bi-pencil' %>
          <% end %>
          <% if defined?(deletable) %>
            <%= cdlink_to t('product_entries.delete'), product_entry %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
