<%= simple_form_for(expenditure, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :combination_of_local_product, as: :hidden %>
    <%= f.association :delivery_from_counterparty, as: :hidden %>
    <%= f.input :payment_type, label: 'Tolov turini tanlang', collection: Expenditure.payment_types.keys.map { |unit| [Expenditure.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <%= f.input :price_in_usd, label: 'Dollarda', input_html: {checked: ENV.fetch('PRICE_IN_USD') == 'true'} %>
    <%= f.input :price, as: :numeric, label: 'Narxni kiriting:' %>
    <%= f.input :expenditure_type, label: 'xarajat turini tanlang', collection: Expenditure.expenditure_types.keys.map { |unit| [Expenditure.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <%= f.input :comment, label: 'Kommentariya', input_html: { placeholder: 'Shart emas' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Xarajat amalga oshirish' %>
  </div>
<% end %>
