<table class="table shadow table-hover table-bordered table-sm">
  <thead class='table-dark'>
    <tr>
      <% unless defined?(shrink) %>
        <th>#</th>
      <% end %>
      <th><%= t('buyers.index.name') %></th>
      <th><%= t('buyers.index.phone_number') %></th>
      <th><%= t('buyers.index.birthday') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.comment2') %></th>
      <% end %>
      <th><%= t('buyers.index.comment') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody style='font-size: large' id='buyers-list'>
    <% buyers.order(:name).each_with_index do |buyer, index| %>
      <tr class="<%= active_tr(buyer.active) %>">
        <% unless defined?(shrink) %>
          <td class="<%= buyer.is_room_member ? 'text-success' : 'text-dark' %> fw-bold"><%= index +1 %></td>
        <% end %>
        <td>
          <%= button_to buyer.name, default_create_sales_path(buyer_id: buyer.id), method: :post, class: 'btn btn-warning' %>
        </td>
        <td><%= buyer.phone_number %></td>
        <td><%= buyer.birthday %> <span class="<%= buyer.gender %>"><%= buyer.gender %></span></td>

        <% if buyer.has_todays_treatment.nil? %>
          <td></td>
        <% else %>
          <%= render 'treatments/treatment', treatment: buyer.has_todays_treatment unless ENV.fetch('HIDE_TASHXIS', nil).present? %>
        <% end %>

        <td><%= buyer.comment %></td>

        <%= render 'buyer_actions', user: @user, buyer: buyer %>
      </tr>
    <% end %>
  </tbody>
</table>
