<table class="table shadow table-hover table-bordered table-sm">
  <thead class='table-dark'>
    <tr>
      <% unless defined?(shrink) %>
        <th>#</th>
      <% end %>
      <th>Mijoz</th>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.comment2') %></th>
      <% end %>
      <th><%= t('buyers.index.comment') %></th>
      <th></th><th></th><th></th>
    </tr>
  </thead>
  <tbody style='font-size: large' id='buyers-list'>
    <% buyers.order(:name).each_with_index do |buyer, index| %>
      <tr class="<%= active_tr(buyer.active) %>">
        <% unless defined?(shrink) %>
          <td class="<%= buyer.is_room_member ? 'text-success' : 'text-dark' %> fw-bold"><%= index +1 %></td>
        <% end %>
        <td><%= render 'buyer_info', buyer: buyer %></td>
        <% if buyer.has_todays_treatment.nil? %>
          <td></td>
        <% else %>
          <%= render 'treatments/treatment', treatment: buyer.has_todays_treatment unless ENV.fetch('HIDE_TASHXIS', nil).present? %>
        <% end %>

        <td><%= buyer.comment %></td>

        <%= render 'buyer_actions', user: @user, buyer: buyer %>
      </tr>
    <% end %>
    <tr>
      <th>Jami bemorlar soni:</th>
      <td><%= buyers.count %></td>
    </tr>
  </tbody>
</table>
