<table class="table shadow table-hover table-bordered table-sm">
  <thead class='table-dark'>
    <tr>
      <% unless defined?(shrink) %>
        <th>#</th>
      <% end %>
      <th><%= t('buyers.index.name') %></th>
      <th><%= t('buyers.index.phone_number') %></th>
      <th><%= t('buyers.index.birthday') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.comment2') %></th>
      <% end %>
      <th><%= t('buyers.index.comment') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody style='font-size: large' id='buyers-list'>
    <% buyers.order(:name).each_with_index do |buyer, index| %>
      <tr class="<%= active_tr(buyer.active) %>">
        <% unless defined?(shrink) %>
          <td class="<%= buyer.is_room_member ? 'text-success' : 'text-dark' %> fw-bold"><%= index +1 %></td>
        <% end %>
        <td>
          <%= button_to buyer.name, default_create_sales_path(buyer_id: buyer.id), method: :post, class: 'btn btn-warning' %>
        </td>
        <td><%= buyer.phone_number %></td>
        <td><%= buyer.birthday %> <span class="<%= buyer.gender %>"><%= buyer.gender %></span></td>

        <% if buyer.has_todays_treatment.nil? %>
          <td></td>
        <% else %>
          <%= render 'treatments/treatment', treatment: buyer.has_todays_treatment %>
        <% end %>

        <td><%= buyer.comment %></td>

        <% if !@user.врач? %>
          <td>
            <%= simple_form_for(buyer) do |f| %>
              <%= f.input :weight, lable: false, as: :hidden, input_html: {value: buyer.weight + 1} %>
              <%= f.submit 'Vrachga yuborish', class: 'btn btn-success' %>
            <% end %>
          </td>
        <% end %>

        <td>
          <%= clink_to "Tashxis qo'yish", new_treatment_path(buyer_id: buyer.id), 'fa-user-doctor' %>
          <%= clink_to t('buyers.index.show'), buyer_path(buyer), 'fa-search' %>

          <% if buyer.is_room_member %>
            <%= render 'room_members/exit', room_member: buyer.room_members.last %>
          <% else %>
            <%= clink_to 'Palataga olish', new_room_member_path(buyer_id: buyer.id), 'fa-bed' %>
          <% end %>

          <%= clink_to t('buyers.index.edit'), edit_buyer_path(buyer), 'fa-edit' %>
        </td>
        <td>
          <% if buyer.active %>
            <%= clink_to t('buyers.index.deactivate'), toggle_active_buyer_path(buyer), 'fa-ban', :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
