<table class="table shadow table-hover table-bordered table-striped">
  <thead>
    <tr>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.id') %></th>
      <% end %>
      <th><%= t('buyers.index.name') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.phone_number') %></th>
        <th><%= t('buyers.index.comment') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody style='font-size: large' id='buyers-list'>
    <% buyers.order(:name).each do |buyer| %>
      <tr data-buyer-name="<%= buyer.name %>" class="<%= active_tr(buyer.active) %>">
        <% unless defined?(shrink) %>
          <td><%= buyer.id %></td>
        <% end %>
        <td>
          <%= button_to buyer.name, default_create_sales_path(buyer_id: buyer.id), method: :post, style: 'background: none; cursor: pointer' %>
          <% if buyer.image.persisted? %>
            <%= link_to image_tag(buyer.image, style: 'width: 60px; height:55px; object-fit:contain'), buyer.image %>
          <% end %>
        </td>
        <% unless defined?(shrink) %>
          <td><%= buyer.phone_number %></td>
          <td><%= buyer.comment %></td>
          <td>
            <%= clink_to t('buyers.index.edit'), edit_buyer_path(buyer), 'fa-edit' %>
            <% if buyer.active %>
              <%= clink_to t('buyers.index.deactivate'), toggle_active_buyer_path(buyer), 'fa-ban', :post %>
            <% else %>
              <%= clink_to t('buyers.index.activate'), toggle_active_buyer_path(buyer), 'fa-chart-line', :post %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
