<table class="table shadow table-hover table-bordered table-sm">
  <thead class='table-dark'>
    <tr>
      <% unless defined?(shrink) %>
        <th>#</th>
      <% end %>
      <th><%= t('buyers.index.name') %></th>
      <th><%= t('buyers.index.phone_number') %></th>
      <th><%= t('buyers.index.birthday') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.comment2') %></th>
      <% end %>
      <th><%= t('buyers.index.comment') %></th>
    </tr>
  </thead>
  <tbody style='font-size: large' id='buyers-list'>
    <% buyers.order(:name).each_with_index do |buyer, index| %>
      <tr class="<%= active_tr(buyer.active) %>">
        <% unless defined?(shrink) %>
          <td><%= index +1 %></td>
        <% end %>
        <td>
          <% if @user.врач? %>
            <%= link_to buyer.name, buyer_path(buyer) %>
          <% elsif @user.кассир? %>
            <%= button_to buyer.name, default_create_sales_path(buyer_id: buyer.id), method: :post, style: 'background: none; cursor: pointer' %>
          <% else %>
            <%= buyer.name %>
          <% end %>
          <span class="<%= buyer.gender %>"><%= buyer.gender %></span>
        </td>
        <td><%= buyer.phone_number %></td>
        <td><%= buyer.birthday %></td>

        <% if buyer.has_todays_treatment.nil? %>
          <td></td>
        <% else %>
          <%= render 'treatments/treatment', treatment: buyer.has_todays_treatment %>
        <% end %>

        <td><%= buyer.comment %></td>

        <% if @user.регистратор? %>
          <td>
            <%= simple_form_for(buyer) do |f| %>
              <%= f.input :weight, lable: false, as: :hidden, input_html: {value: buyer.weight + 1} %>
              <%= f.submit 'Vrachga yuborish', class: 'btn btn-success' %>
            <% end %>
          </td>
        <% end %>

          <% if @user.админ? %>
            <td>
              <%= clink_to t('buyers.index.show'), buyer_path(buyer), 'fa-search' %>
              <%= clink_to t('buyers.index.edit'), edit_buyer_path(buyer), 'fa-edit' %>
            </td>
            <td>
              <% if buyer.active %>
                <%= clink_to t('buyers.index.deactivate'), toggle_active_buyer_path(buyer), 'fa-ban', :post %>
              <% else %>
                <%= clink_to t('buyers.index.activate'), toggle_active_buyer_path(buyer), 'fa-chart-line', :post %>
              <% end %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
