<%= simple_form_for(buyer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: t('buyers.form.name') %>
    <%= f.input :phone_number, label: t('buyers.form.phone_number') %>
    <%= f.input :comment, label: t('buyers.form.comment') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('buyers.form.save') %>
  </div>
<% end %>
