
<%= simple_form_for(buyer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Имя' %>
    <%= f.input :phone_number, label: 'Телефон номер' %>
    <% unless buyer.persisted? %>
      <%= f.input :debt_in_uzs, label: "Долг в сумах", as: :numeric %>
      <%= f.input :debt_in_usd, label: 'Долг в $', as: :numeric %>
    <% end %>

    <%= f.input :is_worker, label: 'Бригадер' %>
    <%= f.input :comment, label: 'Коммент' %>
    <%= f.file_field :image, label: 'Загрузить изображение', accept: 'image/*' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить' %>
  </div>
<% end %>
