<div class='container mt-4 shadow shadow-lg'>
  <div class='row'>
    <div class='col-sm-6 col-md-3'>
      <h3 class='text-center'><%= @buyer.name %></h3>
    </div>
    <div class='col-sm-6 col-md-4'>
      <table class='table table-warning table-sm'>
        <tbody>
          <tr>
            <%= render 'buyer_actions', user: @user, buyer: @buyer %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <span><%= @buyer.job %> | <%= @buyer.address %></span>
  <% if @treatments.exists? %>
    <h3>Tashxislar</h3>
    <div class='card-body'>
      <%= render 'treatments/treatments', treatments: @treatments %>
    </div>
  <% end %>
  <br/><hr/>
  <% if @sales.exists? %>
    <h4>To'lov tarixi</h4>
    <div class='card-footer'>
      <%= render 'sales/sales', sales: @sales %>
    </div>
  <% end %>
  <br/><hr/>
  <% if @room_members.exists? %>
    <div class='card-body'>
      <h3>Palata tarixi</h3>
      <%= render 'room_members/room_members', room_members: @room_members %>
    </div>
  <% end %>
</div>
