<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(sale) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :status, as: :hidden, input_html: { value: 1 } %>

    <div class="form-inputs">
      <%= f.input :price_in_usd, label: false, as: :hidden %>
      <% not_disabled = sale.persisted? && sale.product_sells.empty? %>
      <%= f.input :total_price, label: not_disabled ? "Jami to'lo'v" : false, input_html: { hidden: !not_disabled, id: 'total-price' } %>
      <%= f.association :buyer, label: false, collection: Buyer.active.order(weight: :desc).order(name: :asc), include_blank: false, as: :hidden %>
      <%= f.input :total_paid, label: 'Mijoz to\'lagan summa' %>
      <%= f.input :payment_type, label: false, collection: Sale.payment_types.keys.map { |unit| [Sale.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false, as: :hidden %>
      <%= f.input :comment, label: 'Kommentariya' %>
      <%= f.button :submit, 'Sotuvni yakunlash' %>
    </div>
  <% end %>
</div><br/>

<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(sale) do |f| %>
      <%= f.input :price_in_usd, label: false, as: :hidden, input_html: {value: !sale.price_in_usd} %>
      <%= f.button :submit, 'Valyutani almashtirish', class: 'btn-warning' %>
    </div>
  <% end %>
</div>

<script>
  document.querySelector('#sale_total_paid').addEventListener('focus', function(e) {
    toggleTotalPaid()
  })

  document.querySelector('#sale_buyer_id').addEventListener('focus', function(e) {
    toggleTotalPaid()
  })

  function toggleTotalPaid(){
    if(document.querySelector('#sale_total_paid').value == null || document.querySelector('#sale_total_paid').value == 0){
      document.querySelector('#sale_total_paid').value = document.querySelector('#total-price').value
    }
  }
</script>
