<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(sale, html: {data: {turbo: 'false'}}) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :status, as: :hidden, input_html: { value: 1 } %>

    <div class="form-inputs">
      <%= f.input :price_in_usd, label: false, as: :hidden %>
      <% if sale.persisted? && sale.product_sells.empty? %>
        <%= f.input :total_price, label: false, input_html: { hidden: true, id: 'total-price' } %>
      <% end %>
      <%= f.association :buyer, label: false, collection: Buyer.active.order(weight: :desc).order(name: :asc), include_blank: false, as: :hidden %>
      <%= f.input :total_paid, label: false, as: :hidden %>
      <%= f.input :payment_type, label: "to'lov turi", collection: Sale.payment_types.keys.map { |unit| [t("sale.payment_type.#{unit}"), unit] }, include_blank: false %>
      <%= f.association :user, label: "Vrach ni tanlang", collection: User.врач.pluck(:name, :id), include_blank: false %>
      <%= f.input :comment, label: t('sale.comment_label') %>
      <%= f.button :submit, t('sale.finish_sale_button_label'), class: 'btn-success' %>
    </div>
  <% end %>
</div><br/>

<script>
  document.querySelector('#sale_total_paid').addEventListener('focus', function(e) {
    toggleTotalPaid()
  })

  document.querySelector('#sale_buyer_id').addEventListener('focus', function(e) {
    toggleTotalPaid()
  })

  function toggleTotalPaid(){
    if(document.querySelector('#sale_total_paid').value == null || document.querySelector('#sale_total_paid').value == 0){
      document.querySelector('#sale_total_paid').value = document.querySelector('#total-price').value
    }
  }
</script>
