<table class="table table-hover table-bordered table-striped">
  <thead class='table-dark'>
    <tr>
      <th><%= t('sales.id') %></th>
      <% unless defined?(shrink) %>
        <td><%= t('sales.locked') %></td>
      <% end %>
      <th><%= t('sales.buyer') %></th>
      <th><%= t('sales.total_purchase_price') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('sales.comment') %></th>
        <th><%= t('sales.sale_date') %></th>
        <th><%= t('sales.sold_by') %></th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% sales.each do |sale| %>
      <tr class='table-success' id="sale_<%= sale.id %>">
        <td><%= sale.id %></td>
        <td>
          <% if sale.closed? %>
            <%= clink_to t('sales.open'), toggle_status_sale_path(sale), 'fa-lock', :post %>
          <% else %>
            <%= clink_to t('sales.close'), toggle_status_sale_path(sale), 'fa-lock-open', :post %>
          <% end %>
        </td>
        <td><%= sale.buyer.name %></td>
        <td title="<%= sale.payment_type %>" ><%= currency_convert(sale.price_in_usd, sale.total_price) %></td>
        <% unless defined?(shrink) %>
          <td><%= sale.comment %></td>
          <td><%= strf_datetime sale.created_at %></td>
          <td><%= sale.user.name %></td>
        <% end %>
        <td>
          <%= link_to "http://localhost:4000/print/#{sale.id}" do %>
            <%= image_tag image_url('printer.png'), style: 'width: 25px; height: 25px; cursor: pointer;' %>
          <% end %>
        </td>
        <td>
          <%= clink_to t('sales.view'), sale_path(sale), 'fa-search' %>
        </td>
      </tr>
      <% sale.product_sells.each do |ps| %>
        <tr class='table-warning'>
          <td></td>
          <td></td>
          <td><%= ps.pack.name %></td>
          <td><%= num_to_usd ps.total_price %></td>
          <td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
      <% end %>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <% end %>
    <% if defined?(@sales_data) %>
      <tr>
        <td></td><td></td><td></td>
        <th><%= num_to_usd @sales_data.sum(:total_price) %></th>
        <td><%= num_to_usd(@total_profit_in_uzs) if policy(Sale).profit? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
