<div class='container'>
  <h3 class='text-center'><%= ENV.fetch('COMPANY_NAME') %> (<%= ENV.fetch('COMPANY_PHONE_NUMBER') %>)</h3>
  <div class='d-flex justify-content-between align-items-center'>
    <h5><%= t('invoice.number', id: @sale.id, date: strf_datetime(@sale.updated_at)) %></h5>
    <span onclick='window.print()' title='<%= t('print.title') %>'>
      <%= image_tag image_url('printer.png'), style: 'width: 40px; height: 40px; cursor: pointer' %>
    </span>
  </div>
  <ul style='font-size: large; font-weight: bold'>
    <li><%= t('invoice.customer', name: @sale.buyer.name.upcase, phone: @sale.buyer&.phone_number) %></li>
  </ul>
  <table style='font-size: large' class='table table-striped table-large table-bordered'>
    <thead>
      <tr>
        <th><%= t('print.no') %></th>
        <th><%= t('print.product_name') %></th>
        <th><%= t('print.quantity') %></th>
        <th><%= t('print.price') %></th>
        <th><%= t('print.total') %></th>
      </tr>
    </thead>
    <tbody>
      <% @sale.product_sells.each_with_index do |product_sell, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= product_sell.pack.name %></td>
          <td><%= product_sell.amount %></td>
          <td><%= currency_convert(product_sell.price_in_usd, product_sell.sell_price) %></td>
          <td><%= currency_convert(product_sell.price_in_usd, (product_sell.sell_price * product_sell.amount)) %></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <th></th>
        <th><%= @sale.product_sells.sum(:amount) %></th>
        <th></th>
        <th><%= currency_convert(@sale.price_in_usd, @sale.product_sells.sum('sell_price * amount')) %></th>
      </tr>
    </tbody>
  </table>
  <ul style='font-size: large; font-weight: bold'>
    <li><%= t('invoice.total_paid', amount: currency_convert(@sale.price_in_usd, @sale.total_paid)) %></li>
    <li><%= t('invoice.debt_after_purchase', date: strf_datetime(DateTime.now), debt_in_uzs: num_to_usd(@total_debt_in_uzs), debt_in_usd: number_to_currency(@total_debt_in_usd)) %></li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    window.print();
  })
</script>
