<div class='container'>
  <h3 class='text-center'><%= ENV.fetch('COMPANY_NAME') %> (<%= ENV.fetch('COMPANY_PHONE_NUMBER') %>)</h3>
  <div class='d-flex justify-content-between align-items-center'>
    <h5>Счёт фактура № <%= @sale.id %> от <%= strf_datetime(@sale.updated_at) %></h5>
    <span onclick='window.print()' title='printerda chiqarish'>
      <%= image_tag image_url('printer.png'), style: 'width: 40px; height: 40px; cursor: pointer' %>
    </span>
  </div>
  <ul style='font-size: large; font-weight: bold'>
    <li>Mijoz: <%= @sale.buyer.name.upcase %> <%= @sale.buyer&.phone_number %></li>
  </ul>
  <table style='font-size: large' class='table table-striped table-large table-bordered'>
    <thead>
      <tr>
        <th>№</th>
        <th>Tovar nomi</th>
        <th>Soni</th>
        <th>Narxi</th>
        <th>Jami</th>
      </tr>
    </thead>
    <tbody>
      <% @sale.product_sells.each_with_index do |product_sell, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= product_sell.pack.name %></td>
          <td><%= product_sell.amount %></td>
          <td><%= currency_convert(product_sell.price_in_usd, product_sell.sell_price) %></td>
          <td><%= currency_convert(product_sell.price_in_usd, (product_sell.sell_price * product_sell.amount)) %></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <th></th>
        <th><%= @sale.product_sells.sum(:amount) %></th>
        <th></th>
        <th><%= currency_convert(@sale.price_in_usd, @sale.product_sells.sum('sell_price * amount')) %></th>
      </tr>
    </tbody>
  </table>
  <ul style='font-size: large; font-weight: bold'>
    <li>Jami to'landi:  <%= currency_convert(@sale.price_in_usd, @sale.total_paid) %></li>
    <li>Hariddan keyingi qarzdorlik holati (<%= strf_datetime DateTime.now %> holatiga ko'ra): <%= num_to_usd @total_debt_in_uzs %> | <%= number_to_currency @total_debt_in_usd %></li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    window.print();
  })
</script>
