<div class="my-5">
  <div class="card shadow-lg">
    <div class='d-flex justify-content-between'>
      <h1 class='text-center'><%= t('sales.history') %></h1>
      <div class='d-flex'>
      <%= link_to 'Экспорт в Excel', sales_url(q: params.dig(:q)&.permit!, format: :xlsx), class: 'btn btn-success' %>
      <%= simple_form_for :sales_data, url: excel_sales_url, method: :get do |f| %>
        <%= f.input :sale_ids, as: :hidden, input_html: { value: @sales_data.pluck(:id).join(',')} %>
        <%= f.submit t('sales.print'), class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary"><%= t('sales.overview') %></button>
        <%= link_to t('sales.detailed_view'), product_sells_path, class: 'btn btn-secondary' %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'sale_from_local_services/filter_form', q: @q, url: request.path %>
      <ul>
        <li><b>Jami savdolar soni:</b> <%= @sales_data.count %></li>
        <% unless ENV.fetch('HIDE_BONUS_USER', nil).present? %>
          <li><b>Jami bonuslar soni:</b> <%= @total_bonuses %></li>
        <% end %>
      </ul>
      <%= render 'sales', sales: @sales %>
      <%= paginate @sales %>
    </div>
  </div>
</div>
