<div class="my-5">
  <div class="card shadow-lg">
    <div class='d-flex justify-content-between'>
      <h1 class='text-center'><%= t('sales.history') %></h1>
      <%= simple_form_for :sales_data, url: excel_sales_url, method: :get do |f| %>
        <%= f.input :sale_ids, as: :hidden, input_html: { value: @sales_data.pluck(:id).join(',')} %>
        <%= f.submit t('sales.print'), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary"><%= t('sales.overview') %></button>
        <%= link_to t('sales.detailed_view'), product_sells_path, class: 'btn btn-secondary' %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'sale_from_local_services/filter_form', q: @q, url: request.path %>
      <%= render 'sales', sales: @sales %>
      <%= paginate @sales %>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th></th>
            <th><%= t('sales.total_sale_price') %></th>
            <th><%= t('sales.total_profit') %></th>
            <th><%= t('sales.total_paid_amount') %></th>
            <th><%= t('sales.remaining_amount_due') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= t('currency.uzs') %></th>
            <td><%= num_to_usd(@sales_data.price_in_uzs.sum(:total_price)) %></td>
            <td><%= num_to_usd(@total_profit_in_uzs) if policy(Sale.last).profit? %></td>
            <td><%= num_to_usd(@sales_data.price_in_uzs.sum(:total_paid)) %></td>
            <td><%= num_to_usd(@sales_data.price_in_uzs.sum(:total_price) - @sales_data.price_in_uzs.sum(:total_paid)) %></td>
          </tr>
          <tr>
            <th><%= t('currency.usd') %></th>
            <td><%= number_to_currency(@sales_data.price_in_usd.sum(:total_price)) %></td>
            <td><%= number_to_currency(@total_profit_in_usd) if policy(Sale.last).profit? %></td>
            <td><%= number_to_currency(@sales_data.price_in_usd.sum(:total_paid)) %></td>
            <td><%= number_to_currency(@sales_data.price_in_usd.sum(:total_price) - @sales_data.price_in_usd.sum(:total_paid)) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
