<%= render 'product_sells/product_categories_select' %>
<div class='mx-2'>
  <h3 class='m-1'>
    <%= @sale.buyer.name.capitalize %>
  </h3>
  <div class='row'>
    <% unless @sale.closed? || params.dig(:prepayment) %>
      <div class='col-sm-12 col-md-4'>
        <%= render 'product_sells/form', product_sell: @product_sell, rate: @rate %>
      </div>
    <% end %>

    <div class='col-sm-12 col-md-6' style='max-height: 800px; overflow: auto'>
      <div style='border: 5px solid #6bf56b' id='product-sells-list'>
        <%= render 'product_sells/product_sells', shrink: true, sale: @sale, buyer: @sale.buyer, product_sells: @product_sells, rate: @rate %>
      </div>
      <% @sales.each do |sale| %>
        <div style='border: 3px solid black; margin-top: 45px'>
          <%= render 'product_sells/product_sells', shrink: true, sale: sale, total_paid: sale.total_paid, datetime: sale.created_at, product_sells: sale.product_sells.includes(:buyer, :pack, :product), rate: @rate %>
        </div>
      <% end %>
      <br/><p class='text-center'><%= paginate @sales %></p>
    </div>

    <% unless @sale.closed? %>
      <div class='col-sm-12 col-md-2'>
        <div id='sale-form'>
          <%= render 'sales/form', sale: @sale %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<input id='last-category' value="<%= @sale.product_sells.last&.product_category&.id %>" hidden=true >
