
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <%= link_to ENV.fetch('COMPANY_NAME'), root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t('navigation.registration'), new_buyer_path, class: 'nav-link' %>
      </li>
      <% if %w[кассир].include?(current_user.role) %>
        <li class="nav-item">
          <%= link_to t('navigation.other_expenses'), expenditures_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('navigation.expense'), new_expenditure_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('navigation.sales_history'), sales_path, class: 'nav-link' %>
        </li>
      <% end %>

      <% if %w[админ].include?(current_user.role) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('navigation.view') %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t('navigation.sales_history'), sales_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.delivery_history'), delivery_from_counterparties_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.warehouse'), packs_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.other_expenses'), expenditures_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.suppliers'), providers_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.customers'), buyers_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.treatments'), treatments_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.monthly_advance'), salaries_path, class: 'dropdown-item' %>
          <%= link_to t('navigation.employees'), users_path, class: 'dropdown-item' %>
        </div>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('navigation.actions') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= button_to t('navigation.purchase'), default_create_delivery_from_counterparties_path, method: :post, class: 'dropdown-item' %>
            <%= link_to t('navigation.expense'), new_expenditure_path, class: 'dropdown-item' %>
            <%= link_to t('navigation.add_supplier'), new_provider_path, class: 'dropdown-item' %>
            <%= link_to t('navigation.add_product'), new_pack_path, class: 'dropdown-item' %>
            <%= link_to t('navigation.give_monthly_advance'), new_salary_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to t('navigation.admin'), admin_page_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
        <%= link_to t('navigation.warehouse'), packs_path, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>
  <ul class="text-center navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name&.capitalize %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= button_to t('navigation.logout'), destroy_user_session_url, method: :delete, data: { confirm: strip_tags(t('navigation.confirm_logout')) }, class: "nav-link styled-delete-button", style: 'color: black' %>
        </div>
      </li>
      <li class="nav-item ml-auto">
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to t('navigation.login'), new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>
<br>
